.SliderElement{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ImageContainer{
    flex:1;
}


.InfoContainer{
    flex:1;
}