.SliderContainer{
    height:100vh;
    max-width:100vw;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
}

.Wrapper{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    transition: all .5s ease-in-out;
    transform: translateX(0);
}

.LeftArrow , .RightArrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.26);
    height: 2rem;
    padding: 2rem;
    top:0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.LeftArrow{
    left: 2rem;
}

.RightArrow{
    right: 2rem;
}

