.LoginContainer{
    width: 40rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: white;
    box-shadow: 0rem 0rem 3.5rem rgba(0, 0, 0, 0.089);
    border-radius: 1rem;
}

form{
    text-align: start;
}

form > *{
    margin-bottom: 2rem;
}

.Header{
    font-weight: 200;
    text-transform: uppercase;
}

.LoginButton{
    padding: 1rem 3rem;
    background-color: #313131;
    color: white;
    border:none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    .LoginContainer{
        font-size: 1.5rem;
    }   
}

@media only screen and (max-width:400px) {
    .LoginContainer{
        font-size: 1.2rem;
    }   
}

