.Container{
    height:6rem;
    font-size: 1.3rem;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.233);
    margin-bottom: 15px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}

.Wrapper{
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row nowrap;
}

.Left{
    flex:1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.Center{
    flex: 1;
}

.Right{
    flex:1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    font-weight: 200;
}

.Auth{
    padding:0rem 1.5rem;
    cursor: pointer;
}

.Cart{
    padding-left: 1.5rem;
    cursor: pointer;
}

.Language{
    
}

.SearchContainer{
    border: .5px solid gray;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
}

.inputSearch{
    outline: none;
    border:none;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:650px)  {
    .Left{
        display: none;
    }
}

@media only screen and (max-width:400px)  {
    .Wrapper{
        padding-left: 0rem ;
        padding-right: 1rem;
    }
    .Center , .Right{
        flex: auto;
    }
}